<template>
  <div id="lvl_cart" class="lvl_container">
    <div id="navRow" class="row">
      <span class="left">
        <span class="btn orange" @click="$emit('updtLvl',{lvl:'Products'})">{{
          general_texts.btn.bckResults
        }}</span>
      </span>
    </div>
    <div class="row" style="padding-left:15px">
      <h5>{{ general_texts.cart.cartTitle }}</h5>
      <div v-if="Cart.length==1">{{ general_texts.cart.empty }}</div>
    </div>
    <div id="cartRow" class="row" v-if="Cart.length>1">
      <div
        class="col s12 l10 prodCol"
        v-for="prod in Cart.filter(itm=>{return itm.id>-1})"
        :key="prod.id"
      >
        <hr />
        <div
          class="prodImg col s4 m3"
          :style="{'background-image': 'url(' + prodMediaPath+prod.imgArr[0].imgSrc+ ')'}"
        ></div>
        <div class="col s8 m9">
          <div class="ProdLbl" v-html="prod.lbl"></div>
          <div v-html="prod.by"></div>
          <div>
            <stars
              v-if="prod.rating != null"
              :rating="prod.rating"
              :skinProps="skinProps"
            ></stars
            >&nbsp;
            <span v-html="prod.reviews"></span>
          </div>

          <div v-html="prod.addInf1"></div>
          <!-- price -->
          <div class="prodPrice">
            <span v-if="general_texts.currecySide=='left'">
              <sup v-html="general_texts.currency"></sup>
            </span>
            <span v-if="prod.price.toString().indexOf('.')>-1">
              <span v-html="prod.price.toString().split('.')[0]"></span>
              <sup
                class="suprascript"
                v-html="prod.price.toString().split('.')[1]"
              ></sup>
            </span>
            <span v-else v-html="prod.price"></span>
            <span v-if="general_texts.currecySide=='right'">
              <sup v-html="general_texts.currency"></sup>
            </span>
          </div>
          <!-- additional info -->
          <div v-html="prod.addInf2"></div>
          <!-- quantity -->
          <div>
            {{ general_texts.qty }}
            <select v-model="prod.quantity" @change="$emit('RCart')">
              <option v-for="n in 10" :key="n" :value="n">{{ n }}</option>
            </select>
          </div>
          <!-- remove -->
          <div>
            <span class="DelLbl" @click="DeleteProd(prod)">{{
              general_texts.del
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="CheckoutRow" class="row" v-if="Cart.length>1">
      <span id="CheckoutCol" class="col s12 m5 l3">
        <span
          id="CheckoutBtn"
          :style="skinProps.LayoutProps.checkout_btn"
          @click="$emit('updtLvl',{lvl:'Products'}),$emit('checkOut')"
          >{{ general_texts.cart.checkout }}</span
        >
      </span>
    </div>
  </div>
</template>
